<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detail</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_list.name }}</h1>
            <h2>Tasks</h2>
            <table>
                <tr>
                    <th>Tasks</th>
                    <th>Due date</th>
                </tr>
                {% for i in detail_instance.objects.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_list' %}">{{ i.task }}</a>
                    </td>
                    <td>
                        {{ i.due_date }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
