<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Number of Items</th>
                </tr>
                {% for i in todo_list_list %}
                <tr>
                    <td>
                        <a href="{% url 'todo_list_detail' i.id %}">{{ i.name }}</a>
                    </td>
                    <td>count</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>

</html>
